<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style>
        .footer {
          position: absolute;
          bottom: 0;
          /* Set the fixed height of the footer here */
          height: 60px;
        }
      </style>
  </head>
  <body role="document">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
            <h4>Block {{list_dict_post_data[user_index]['Block']}} , {{list_dict_post_data[user_index]['Flat']}}, {{list_dict_post_data[user_index]['Town']}}<br>
                <small> Ethnic Quota: {{ethnic_quota}}</small>
            </h4> 
            </div>
            <table class="table table-bordered">
              <tr><th>Unit</th><th>Price</th><th>Floor Area</th></tr>
                {% for unit in list_unit_data %}
                    <tr>
                        {% for detail in unit %}
                            <td>{{detail}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <div class="panel-heading">
                Units Available <span class="badge">{{units_total - units_sold}}</span>&nbsp&nbsp
                Units Sold <span class="badge">{{ units_sold }}</span>&nbsp&nbsp
                Total Units <span class="badge">{{units_total}}</span>&nbsp&nbsp
            </div>
        </div>
        <footer>
            <p>Created by Timothy Teh &middot; Engineer &middot; Inventor &middot; Experimentalist &middot; 2014 &copy; </p>
        </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
{% endautoescape %}